<div style="width: 100%;
height: 300px;">

      <div style="text-align:center; color: white; width: 100%;">
        <owl-carousel-o [options]="customOptions">
          <ng-container *ngFor="let list of this.receipeList">
            <ng-template carouselSlide>
              <div class="tile">
                  <img src='{{list.image}}'/>
                  <div class="text">
                  <h1>{{list.title}}</h1>
                  <h2 class="animate-text">{{list.brief}}</h2>
                  <div class="dots">
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                  </div>
               </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>


</div>





