#header {
    position: relative;    
}

#child-header{
   position: absolute;
   top: 10px;
   color: white;
}

#header-image{   
    
    height: 650px;
    width: fit-content;
}

.tiles{
    
    background-color: #289944;
    height: 500px;
    width: 100%;
}

.tile{
    margin-top: 15px;
    position: absolute;
}


