#header {
    position: relative;    
}

#child-header{
   position: absolute;
   top: 10px;
   color: white;
}

#header-image{   
    height: 650px;
    width: -webkit-fill-available;
}

.tiles{
    position: absolute;
    background-color: #289944;
    height: 100%;
    width: 100%;
}

.tile{
    margin-top: 15px;
    position: absolute;
}


