<!-- One way data binding -->
<!-- <textarea rows="6" [value]="newPost" #postValue></textarea>
<button (click)="onAddPost(postValue)">Save</button> -->

<!-- Two Way data binding using NgModel directive-->
<h1 style="margin-left: 10px; margin-top: 15px;">Add your creation</h1>
<mat-card>

  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput type="text" name="title" placeholder="What is your dish called?" ngModel required #title="ngModel">
      <mat-error *ngIf="title.invalid">Please enter a title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="4" name="content" placeholder="How did you make it?" ngModel required #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please enter some content</mat-error>
    </mat-form-field>
    <button  mat-raised-button color="accent"
      type="submit">Post Your Recipe</button>
  </form>

</mat-card>

<div style="margin-left: 10px; margin-top: 15px;">
  <app-post-list ></app-post-list>

</div>
